.container-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0rem 5rem 2rem 5rem ;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.navbar-light{
    background: rgb(211 223 251 / 58%);
}

.card-column {
    flex: 19%;
    max-width: calc(100vw / 5);

}

.phone{
    margin-left: 0.5rem;
}

.searcher{
    padding: 2rem 5rem;
}

.card {
    background: rgb(211 223 251 / 58%);
    border: 1px solid white;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}
  
.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}
  
.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}