<div class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand">
                <h1>Paint & Point S.L.</h1>
                <span class="navbar-text">
                    Apps para la gestión de los empleados
                </span>
            </div>
        </div>
    </nav>

    <div class="searcher">
        <input type="text" class="form-control border-transparent form-focus-none" placeholder="Buscador de empleados" [formControl]="searchControl" name="searchControl">
        <div class="d-flex justify-content-center my-5" *ngIf="loading">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
        </div>
        <p>Mostrando {{empleados.length || 0 }} de un total de {{copiaEmpleados.length || 0}}</p>
    </div>


    <div class="container-grid" *ngIf="empleados && empleados.length > 0">
        <div class="card-column" *ngFor="let emp of empleados">
            <div class="card" (click)="abrirModal(emp)">
                <img src="https://robohash.org/{{emp.id}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{emp.surname || ''}} {{emp.surname2 || ''}}, {{emp.name || ''}}</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><i class="bi bi-telephone-fill"></i><span class="phone">{{emp.phone || ''}}</span></small>
                </div>
            </div>
            <ng-template #modal_{{empleado.id}} let-modal>
                <app-modal [empleado]="emp"></app-modal>
            </ng-template>        
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light position-sticky">
        <div class="container">
            <span class="text-muted">© 2023 - Paint&Point S.L. </span>
        </div>
    </footer>
</div>